<mat-toolbar color="primary">
  <span>
    <a routerLink="/"></a>
  </span>
  <span class="spacer">
    <div class="example-button-container">
      <button mat-fab color="warn" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>


  </span>
    <ul>
    <!-- If user is not authenticated (logged in), they can see login/register -->
    <li *ngIf="!userAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userAuthenticated">
      <a mat-button routerLink="/register" routerLinkActive="mat-accent">Register</a>
    </li>
    <!-- User must be logged in to log out -->
    <li *ngIf="userAuthenticated">
      <button mat-button (click)="userLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>

<h3>Raised Buttons</h3>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>


