<!-- Show spinner if ngif is true -->
<mat-card>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <form (submit)="userLogin(loginForm)" #loginForm="ngForm" *ngIf="!loading">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput name="email" ngModel type="email" placeholder="E.g : stephen@gmail.com" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input type="password" name="password"  ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Login</button>
  </form>
</mat-card>
