<mat-spinner *ngIf="loading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !loading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <h2>{{ post.title }}</h2>
    </mat-expansion-panel-header>

    <p>{{ post.content }}</p>

    <div class="post-image">
      <img [src]="post.imgPath" [alt]="post.title">
    </div>
    <!-- Show if authenticated -->
    <mat-action-row *ngIf="userAuthenticated && userId == post.creator">
          <!-- Refer to the post and the post id in routerlink. -->
      <a mat-button color="primary" [routerLink]="['/editpost', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !loading">No posts added yet!</p>
